<div class="container">

  <hr>
  <div class="jumbotron">
    <h1 class="display-4">SEASON OVERVIEW</h1>
    <p class="lead">An Overview of the current season</p>
    <hr>
    <h5>Total Player <span class="badge badge-pill badge-info"><%=User.count%></span></h5>
    <h5>Total Teams <span class="badge badge-pill badge-info"><%=Team.count%></span></h5>
    <h5>Total Matchs <span class="badge badge-pill badge-info"><%=Match.count%></span></h5>
    <hr>
    <%= link_to "All User", users_path,class: "btn btn-info btn-lg" %>
    <%= link_to "All Team", teams_path,class: "btn btn-info btn-lg" %>
    <%= link_to "All Matches", matches_path,class: "btn btn-info btn-lg" %>
  </div>
  <div class="jumbotron">
    <h1 class="display-4">TEAM RANKING</h1>
    <p class="lead">This will be updated when new match records are added...</p>
    <hr>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">Team Name</th>
          <th scope="col">Total Match</th>
          <th scope="col">Wins</th>
          <th scope="col">Losses</th>
          <th scope="col">Winrate</th>
        </tr>
      </thead>
      <tbody>
        <%@ranked_list.each.with_index do |t,index|%>
          <tr>
            <th scope="row"><h4><span class="badge badge-pill badge-info"><%=index+=1%></span></h4></th>
            <td><h5><%=t[:team][:name] %></h5></td>
            <td><h6><%=t[:total_match] %></h6></td>
            <td><h6><%=t[:wins] %></h6></td>
            <td><h6><%=t[:losses] %></h6></td>
            <td><h5><span class="badge badge-pill badge-warning"><%=number_to_percentage(t[:winrate] * 100, precision: 0) %></span></h5></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  
  <h3></h3>
  
  <h3></h3>

</div>